:root {
    --dark-side-main-color: yellow;
    --dark-side-secondary-color: #969600;
}

main.dark-side {
    color: var(--dark-side-main-color);
    background: #000;
}

main.dark-side a {
    color: var(--dark-side-main-color);
}

main.dark-side a:hover {
    color: var(--dark-side-secondary-color);
}

main.dark-side button {
    color: var(--dark-side-main-color);
    border-color: var(--dark-side-main-color);
}

main.dark-side button:hover {
    color: var(--dark-side-secondary-color);
    border-color: var(--dark-side-secondary-color);
}

main.dark-side header nav a {
    border-color: var(--dark-side-main-color);
    background: black;
}

main.dark-side header nav a:hover,
main.dark-side header nav a.router-link-active {
    border-color: var(--dark-side-secondary-color);
    background: #545400;
    color: var(--dark-side-secondary-color);
}

/* Search form */
main.dark-side #people-filter-form input {
    background-color: var(--dark-side-secondary-color);
    border-color: var(--dark-side-main-color);
    color: white;
}