main.light-side {
    color: #444400;
}

main.light-side a {
    color: #444400;
}
main.light-side a:hover {
    color: #d70000;
}

main.light-side header nav a {
    border-color: blue;
    background: #ebebeb;
}

main.light-side header nav a:hover,
main.light-side header nav a.router-link-active {
    border-color: #5959ff;
    background: #5959ff;
    color: white;
}